@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, .all{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.all{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: start;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#title{
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.title{
    position: fixed;
    text-align: left;
    padding: 10px;
    color: black;
    width: 100vw;
    /* box-shadow: 0 0 10px rgb(173, 173, 173); */
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 500px){
    .colors-main, .colors{
        flex-direction: row-reverse;
    }
}

.title button{
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    color: black;
    border: none;
}

#purple{
    background-color: purple;
}

#cornflowerblue{
    background-color: cornflowerblue;
}

#blue{
    background-color: blue;
}

#green{
    background-color: green;
}

#yellowgreen{
    background-color: yellowgreen;
}

#yellow{
    background-color: yellow;
}

#orange{
    background-color: orange;
}

#red{
    background-color: red;
}

#brown{
    background-color: brown;
}

#gray{
    background-color: gray;
}

#white{
    background-color: white;
}

#black{
    background-color: black;
}

.color{
    width: 25px;
    height: 25px;
    border: 1px solid black;
    cursor: pointer;
}

.colors-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.colors{
    position: fixed;
    bottom: 20px;
    left: 15px;
    flex-direction: column;
    width: max-content;
}

.cell{
    width: 20px;
    height: 20px;
    border: 1px solid rgb(228, 228, 228);
    cursor: pointer;
}